{% extends './_layouts/master.html' %}

<!-- COMMON INLINE STYLES -->
{% set s = ({
  tac: 'text-align: center;',
  tal: 'text-align: left;',
  tar: 'text-align: right;',
  underline: 'text-decoration: underline;',
  noUnderline: 'text-decoration: none;',
  f1: 'font-size: 22px;',
  f2: 'font-size: 16px;',
  f3: 'font-size: 12px;',
  black: 'color: #000;',
  white: 'color: #fff;',
  theme: 'color: #777;',
  fontArial: 'Arial, Helvetica, sans-serif',
}) %}

{% block content %}


<!-- PARTIAL : BEGIN -->
<tr>
  <td>
    <table {{tableAttrs}}>
      {{padding.2}}
      <tr>
        <td {{valignTop}} width="150" style="{{s.tac}} {{s.f1}}">
          Content
        </td>
        <td {{valignTop}} width="300" style="{{s.tac}} {{s.f1}}">
          Goes
        </td>
        <td {{valignTop}} width="150" style="{{s.tac}} {{s.f1}}">
          Here
        </td>
      </tr>
      {{padding.2}}
    </table>
  </td>
</tr>
<!-- PARTIAL : END -->


<!-- <img src="{{img}}/iPad_Tablet_pure_minimal.png" alt=""> -->
{% endblock %}
