{% extends './_layouts/master.html' %}
{% block content %}


<!-- PARTIAL : BEGIN -->
<tr>
  <td>
    <table {{tableAttrs}}>
      {{padding.2}}
      <tr>
        <td {{valignTop}} width="150" style="{{tac}};">
          Content
        </td>
        <td {{valignTop}} width="300" style="{{tac}};">
          Goes
        </td>
        <td {{valignTop}} width="150" style="{{tac}};">
          Here
        </td>
      </tr>
      {{padding.2}}
    </table>
  </td>
</tr>
<!-- PARTIAL : END -->


<!-- <img src="{{img}}/iPad_Tablet_pure_minimal.png" alt=""> -->
{% endblock %}
