{% extends '../utils/index.html' %}
{% extends '../_layouts/master.html' %}

{% block utils %}
{% block content %}

<!-- PARTIAL : BEGIN -->
<tr>
  <td>
    <table {{table}}>
      <tr>
        <td {{vTop}} width="600">
          <a href="#" target="_blank">
            <img src="{{img}}/hero.png" alt="hero">
          </a>
        </td>
        {{p3}}
      </tr>
    </table>
  </td>
</tr>
<!-- PARTIAL : END -->

<!-- PARTIAL : BEGIN -->
<tr>
  <td>
    <table {{table}}>
      <tr>
        <td {{vTop}} width="30">
        </td>
        <td {{vTop}} width="540" style="{{tac}} {{fTitle}} {{fontPrimary}} {{bold}}">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </td>
        <td {{vTop}} width="30">
        </td>
      </tr>
      {{p3}}
    </table>
  </td>
</tr>
<!-- PARTIAL : END -->

<!-- PARTIAL : BEGIN -->
<tr>
  <td>
    <table {{table}}>
      <tr>
        <td {{vTop}} width="30">
        </td>
        <td {{vTop}} width="540" style="{{tac}} {{fBody}} {{fontPrimary}} {{bold}}">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </td>
        <td {{vTop}} width="30">
        </td>
      </tr>
      {{p3}}
    </table>
  </td>
</tr>
<!-- PARTIAL : END -->

<!-- PARTIAL : BEGIN -->
<tr>
  <td>
    <table {{table}}>
      <tr>
        <td {{vTop}} width="30">
        </td>
        <td {{vTop}} width="540" style="{{tac}} {{fBody}} {{fontSecondary}}">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
          voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </td>
        <td {{vTop}} width="30">
        </td>
      </tr>
      {{p3}}
    </table>
  </td>
</tr>
<!-- PARTIAL : END -->

<!-- PARTIAL : BEGIN -->
<tr>
  <td>
    <table {{table}}>
      <tr>
        <td {{vTop}} width="30">
        </td>
        <td {{vTop}} width="255" style="{{tac}} {{fBody}} {{fontSecondary}}">
          <table {{table}}>
            <tr>
              <td {{vTop}} width="255" style="{{tac}} {{fBody}} {{fontSecondary}}">
                <img src="{{img}}/card.png" alt="card" width="255">
              </td>
            </tr>
            {{p1}}
            <tr>
              <td {{vTop}} width="255" style="{{tac}} {{fBody}} {{fontSecondary}}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </td>
            </tr>
          </table>
        </td>
        <td {{vTop}} width="30">
        </td>
        <td {{vTop}} width="255" style="{{tac}} {{fBody}} {{fontSecondary}}">
          <table {{table}}>
            <tr>
              <td {{vTop}} width="255" style="{{tac}} {{fBody}} {{fontSecondary}}">
                <img src="{{img}}/card.png" alt="card" width="255">
              </td>
            </tr>
            {{p1}}
            <tr>
              <td {{vTop}} width="255" style="{{tac}} {{fBody}} {{fontSecondary}}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </td>
            </tr>
          </table>
        </td>
        <td {{vTop}} width="30">
        </td>
      </tr>
      {{p3}}
    </table>
  </td>
</tr>
<!-- PARTIAL : END -->

<!-- PARTIAL : BEGIN -->
<tr>
  <td>
    <table {{table}}>
      <tr>
        <td {{vTop}} width="30">
        </td>
        <td {{vTop}} width="540" style="{{tac}} {{fSmall}} {{fontSecondary}}">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam.
        </td>
        <td {{vTop}} width="30">
        </td>
      </tr>
      {{p3}}
    </table>
  </td>
</tr>
<!-- PARTIAL : END -->


{% endblock %}
{% endblock %}
