{% extends '../utils/index.html' %}
{% extends '../_layouts/master.html' %}

{% block utils %}
{% block content %}

<!-- PARTIAL : BEGIN -->
<tr>
  <td>
    <table {{table}}>
      {{p3}}
      <tr>
        <td {{vTop}} width="150" style="{{tac}} {{f2}}">
          Content
        </td>
        <td {{vTop}} width="300" style="{{tac}} {{f2}}">
          Goes
        </td>
        <td {{vTop}} width="150" style="{{tac}} {{f2}}">
          Here
        </td>
      </tr>
      {{p3}}
    </table>
  </td>
</tr>
<!-- PARTIAL : END -->


{% endblock %}
{% endblock %}
