
<!-- Shorthands -->
{% set img = '../../static/images' %}
{% set table = 'cellspacing="0" cellpadding="0" border="0" width="100%"' %}
{% set vTop = 'valign="top"' %}

<!-- Padding -->
{% set p1 = '<tr><td height="10">&nbsp;</td></tr>' %}
{% set p2 = '<tr><td height="20">&nbsp;</td></tr>' %}
{% set p3 = '<tr><td height="30">&nbsp;</td></tr>' %}
{% set p4 = '<tr><td height="40">&nbsp;</td></tr>' %}
{% set p5 = '<tr><td height="50">&nbsp;</td></tr>' %}
{% set p6 = '<tr><td height="60">&nbsp;</td></tr>' %}

<!-- COMMON INLINE STYLES -->
{% set tac = 'text-align: center;' %}
{% set underline = 'text-decoration: underline;' %}
{% set noUnderline = 'text-decoration: none;' %}
{% set bold = 'font-weight: bold;' %}
{% set f1 = 'font-size: 22px; line-height: 28px;' %}
{% set f2 = 'font-size: 20px; line-height: 26px;' %}
{% set f3 = 'font-size: 18px; line-height: 24px;' %}
{% set f4 = 'font-size: 16px; line-height: 22px;' %}
{% set f5 = 'font-size: 14px; line-height: 20px;' %}
{% set primary = 'color: #ff0000;' %}
{% set secondary = 'color: #000;' %}
{% set fontPrimary = 'font-famlity: Arial, Helvetica, sans-serif;' %}
{% set fontSecondary = 'font-famlity: Arial, Helvetica, sans-serif;' %}

{% block utils %}
{% endblock %}
